<% @user.home_timeline.each do |tweet| %>
  <div class="ui feed">
    <div class="event">
      <div class="label">
        <div class="content">
          <p><%= image_tag(tweet.user.profile_image_url, class: "ui avatar image") %></p>
        </div>
      </div>
      <div class="content">
        <div class="summary">
          <div class="user">
            <strong><%= tweet.user.name %></strong>
          </div>
          <div class="date">
            @<%= tweet.user.screen_name %> | <%= time_ago_in_words(tweet.created_at) %> ago
          </div>
        </div>
        <div class="extra text">
          <%= tweet.text %>
        </div>
        <div class="meta">
          <a class="like">
            <i class="like icon"></i> 4 Likes
          </a>
        </div>
      </div>
    </div>
  </div>
<div class="ui divider"></div>
<% end %>
