<div class="ui fluid card">
  <div class="content">
  <% @tweets.each do |tweet| %>
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <div class="content">
            <p><%= image_tag(tweet.user.profile_image_url, class: "ui avatar image") %></p>
          </div>
        </div>
        <div class="content">
          <div class="summary">
            <div class="user">
              <strong><%= tweet.user.name %></strong>
            </div>
            <div class="date">
              @<%= tweet.user.screen_name %> | <%= time_ago_in_words(tweet.created_at) %> ago
            </div>
          </div>
          <div class="extra text">
            <%= tweet.text %>
          </div>
          <div class="meta">
            <%= link_to like_a_tweet_path(tweet.id), class: "like", method: :patch do %>
              <i class="like icon"></i> <%= tweet.favorite_count %> Likes
            <% end %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
    <% end %>
  </div>
</div>
